@{
    ViewData["Title"] = "PowerBI - Export";
}

<div class="text-center">
    <h1 class="display-4">Export PowerBI Paginated report to Excel</h1>
    <p>Use this form to run a simple paginated report export</p>
</div>
<div class="row">
    <div class="col">
        @if (ViewData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger" role="alert">
                @ViewData["ErrorMessage"]
            </div>
        }
        <form asp-action="Export">
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label" for="reportId">Report ID</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="reportId" name="reportId" placeholder="Your repot GUID here">
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label" for="reportParameters">Report Parameters (JSON)</label>
                <div class="col-sm-10">
                    <textarea class="form-control" id="reportParameters" name="reportParameters" rows="6"></textarea>
                    <div id="emailHelp" class="form-text">Use a regular json with prop/value that will be serialized as a Dictionary</div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Export</button>
        </form>
    </div>
</div>